:root {
  --brand-color: #f2b71f;
  --brand-background-color: #242420;
  --brand-background-active-color: #e4e4e0;
  --panel-background-color: #e8e8e8;
  --body-background-color: #f0f0f0;
  --inputfield-background-color: #fcfcfc;
  --outline-color: #909088;
  --border-color: #e4e4e0;
  --text-color: #242420;
  --white-color: #ffffff;
  --text-light-color: #848480;
  --secondary-color: #DFA920;
  --tertiary-color: #957014;
}

* {
  box-sizing: border-box;  
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--body-background-color);
  color: var(--text-color);
  font-size: 14px;
}

html, body, p, pre,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

p, table,
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
input {
  font-size: 16px;
}
small {
  font-size: 0.8em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: 0.9em; }
a {
  color: var(--tertiary-color);
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  th,
  td {
    padding: 5px 10px;
  }
  th:empty {
    display: none;
  }

  tr {
    border-bottom: 1px solid var(--border-color);
    &:last-child {
      border-bottom: none;
    }
  }

  tbody {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
}

table {
  tr {
    &.disabled {
      background-color: #d0d0d0;
      color: #808080;
      &:nth-child(2n + 1) {
      background-color: #e0e0e0;
      }
    }
  } 
}